*{padding: 0;margin: 0;box-sizing: border-box;}
::selection{color: beige;background-color: black;}
body{
	font-family: 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial',sans-serif;
	background: #1a202c;
	width: 100%;
	height: 100%;
	overflow: auto;
	float: left;
}

#fixed_btn{
	width: 46px;
	position: fixed;
	background: #2d3748;
	/* 控制图标背景位置 */
	right: 0px;
	bottom: 30%;
	border-radius: 10px 0 0 10px;
	box-shadow: 0px 0px 5px black;
	z-index: 9;
}

#icon{
	width: auto;
	height: 50px;
	float: left;
	display: flex;
	align-items: center;
	position: relative;
	/* 控制图标位置 */
	right: -4px;
	transition: .2s;
	border-radius: 50px 0 0 50px;
}
#icon a{
	width: 300px;
	color: pink;
	float: left;
	display: flex;
	align-items: center;
	text-decoration: none;
}
#icon a p{
	padding: 0 2px 0;
}
#logo{
	fill: #e2e2e2;
	/* 控制svg图标大小 高度和宽度任选一即可 */
	width: 40px;
}
#icon:hover{
	position: relative;
	padding-left: 10px;
	transition: .2s;
	/* 触碰 */
	right: 75px;
	background: #2d3748;
	box-shadow: 0px 0px 5px black;
}

#top{
	text-align: center;
	color: #e2e2e2;
	padding: 10px 0 20px 0;
}

#contents{
	width: 500px;
	height: 600px;
	overflow: auto;
	list-style: none;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	background: #2d3748;
	border-radius: 25px;
	position: relative;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0%);
}
#list li{
	width: 100%;
	color: aliceblue;
	margin: 10px 0;
	border-radius: 15px;
	transition: .2s;
}
#list li a{
	color: white;
	text-decoration: none;
	font-size: 23px;
	transition: .15s;
}
#list li:hover{
	color: bisque;font-size: 23.5px;
	background: rgba(106,106,106, .9);
	box-shadow: 0px 0px 20px rgba(0,0,0, .3);
	transition: .2s;
}
#list li a:active{color: azure;transition: .2s}

/* 隐藏滚动条 */
::-webkit-scrollbar{display: none;}

#table_contents li{
	color: aliceblue;
	margin: 10px 0;
	border-radius: 15px;
	transition: .2s;
}
#table_contents li a{
	color: white;
	text-decoration: none;
	font-size: 23px;
	transition: .15s;
}
#table_contents li:hover{
	color: bisque;font-size: 23.5px;
	background: rgba(106,106,106, .9);
	box-shadow: 0px 0px 20px rgba(0,0,0, .3);
	transition: .2s;
}
#table_contents li a:active{color: azure;transition: .2s}

#footer{
	width: 100%;
	height: 120px;
	background: #2d3748;
	box-shadow: 0px -10px 20px rgba(0,106,106, .2);
	transition: .2s;
	position: absolute;
	bottom: 0;
}
#footer:hover{box-shadow: 0px -10px 15px rgba(0,106,106, .5);transition: .2s;}



	width: 46px;
	position: fixed;
	background: #2d3748;
	/* 控制图标背景位置 */
	right: 0px;
	bottom: 30%;
	border-radius: 10px 0 0 10px;
	box-shadow: 0px 0px 5px black;
	z-index: 9;