/* 页面整体样式 */
* {padding::0; marging:0;}
.all{
	width: 900px;
	height: 900px;
	margin: 50px auto;
	text-align: center;
}
.bg{
	background: no-repeat center top url(../img/bg11.jpg), repeat-y center bottom url(../img/bg11_fix.jpg);
}
