[type="icon_index"]{
	width: 40px;
	height: 40px;
	bottom: 20px;
	transition: .15s;
}
[type=icon_index]:hover{
	fill: bisque ;
	transition: .15s ;
	border-radius: 12px;
	box-shadow:inset 0 0 10px rgba(0, 0, 0, .1),0 0 20px rgba(0, 0, 0, .2);
}
[type=icon_index]:active{
	fill: saddlebrown ;
	box-shadow:inset 0 0 10px rgba(0, 0, 0, .1),0 0 20px rgba(0, 0, 0, .35);
}
#tg{fill: #1e98d4;}
#html{fill: #1ba035;}