#tg,#html{
	width: 40px;
	height: 40px;
	bottom: 20px;
	transition: .15s;
}
#tg:hover,#html:hover{
	fill: bisque;
}
#tg:active,#html:active{
	fill: saddlebrown;
}
#tg{
	fill: #1e98d4;
}
#html{
	fill: #1ba035;
}