*::selection{margin: 0;padding: 0;box-sizing: inherit;color: beige;background-color: black;}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #fbe9e7;
}

.nav{
	width: 460px;
	height: 280px;
	margin: 25px;
	position: absolute;
	background: white;
	/* 右偏移 下偏移 发散 rbga控制透明度*/
	box-shadow: 10px 20px 40px rgba(0, 0, 0, .25);
	transition: .4s;
	border-radius: 10px 10px 10px 10px;
}
/* 触碰卡片x轴偏移度 */
.nav:hover {transform: translateX(0%);}

.content{
	width: 369.4px;
	height: 260px;
	float: right;
	padding: 10px;
	overflow: auto;
}
.content p:first-of-type{
	text-indent: 2em;
	line-height: 2em;
}
.tittle{
	text-align: center;
	margin: 10px 0 20px 0;
	transition: .2s;
}
.tittle:hover{
	color: #e21212;
}


span{
	opacity: 0;
	transition: .18s;
}
span:hover{
	opacity: 1;
	color: palevioletred;
	transition: .5s;
}

#icon{
	position: relative;
	width: 11%;
	height: 93%;
	padding: 10px;
	float: left;
	background: burlywood;
	border-radius: 10px 10px 10px 10px;
}
#icon a{display: inline-block;padding: 5px;}

svg:active{
	fill: skyblue;
}