*{padding: 0;margin: 0;}
::selection{color: black;background: pink;}
html,body{
	font-family: 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial',sans-serif;
	background: url(../img/Backround_img/banner11-1.jpg) no-repeat,url(../img/Backround_img/banner11-2.png) repeat-y;
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: scroll;
}

/* 头部 */
#header{
	width: 70%;
	margin: 35% auto 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: skyblue;
	border-radius: 10px 10px 0 0;
}

/* 内容 */
#content{
	width: 70%;
	height: 100%;
	margin: 0 auto 10%;
	padding: 10px 0 0;
	position: relative;
	background: rgba(213, 149, 175, .2);
	border-radius: 0 0 10px 10px;
}
/* 文章 */
#content a{
	width: 80%;
	height: 100px;
	color: hotpink;
	text-decoration: none;
	margin: 20px auto;
	padding: 10px;
	background: white;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border-radius: 10px;
}
.card{
}

/* 悬浮便签 */
#fixed_btn{
	width: 46px;
	position: fixed;
	background: #2d3748;
	/* 控制图标背景位置 */
	right: 0px;
	bottom: 30%;
	border-radius: 10px 0 0 10px;
	box-shadow: 0px 0px 5px black;
	z-index: 9;
}
#icon{
	width: auto;
	height: 50px;
	float: left;
	display: flex;
	align-items: center;
	position: relative;
	/* 控制图标位置 */
	right: -4px;
	transition: .2s;
	border-radius: 50px 0 0 50px;
}
#icon a{
	width: 300px;
	color: pink;
	float: left;
	display: flex;
	align-items: center;
	text-decoration: none;
}
#icon a p{
	padding: 0 2px 0;
}
#logo{
	fill: pink;
	/* 控制svg图标大小 高度和宽度任选一即可 */
	width: 40px;
}
#icon:hover{
	position: relative;
	padding-left: 10px;
	transition: .2s;
	/* 控制触碰时标签移动位置 */
	right: 75px;
	background: #2d3748;
	box-shadow: 0px 0px 5px rgba(255, 182, 193, .5);
	/* box-shadow: 0px 0px 5px black; */
}

/* 底部 */
#footer{
	color: white;
	background: #2d3748;
	position: fixed;
	width: 100%;
	height: 80px;
	bottom: 0;
	box-shadow: 0px -10px 20px rgba(0,106,106, .2);
	transition: .2s;
}
#footer:hover{box-shadow: 0px -10px 15px rgba(0,106,106, .5);transition: .2s;}

/* 滚动条背景 */
::-webkit-scrollbar{
	display: none;
	width: 10px;
	height: 20px;
	background-color: navajowhite;
	z-index: -9;
}
/* thumb 滚动条 */
::-webkit-scrollbar-thumb{
	background: darkcyan;
	border-radius: 100px;
}
/* 滚动条上下部分 */
::-webkit-scrollbar-button{
	height: 5px;
	background-color: #303030;
}