*{margin: 0;padding:0;box-sizing: border-box;}
body{
	font-family: 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial',sans-serif;
	background: url(../img/Backround_img/banner11.jpg) no-repeat,url(../img/Backround_img/banner11-2.png) repeat-y;
	background-size: cover;
	display: flex;
	justify-content: center;
}

/* 主体 */
#row{
	height: auto;
	width: 80%;
	background: black;
	position: absolute;
	margin: 30% 0 0;
}

/* 卡片 */
.card{
	height: 180px;
	width: 100%;
	position: relative;
	/* float: left; */
	background: bisque;
	border-radius: 10px;
	overflow: hidden;
}
.card img{
	opacity: .8;
	border-radius: 10px;
}
.card a{
	/* display: inline-block; */
}
.card.test1::after{
	position: relative;
}
.card:before :hover{

/* 卡片 内容 */
}
.content{
	position: relative;
	width: 100%;	
	font-size: 18px;
	margin-top: -9px;
	background: white;
}

#footer{
	width: 100%;
	height: 100px;
	background: black;
	position: absolute;
	bottom: -20%;
}