*{margin:0;padding:0;box-sizing: border-box;}
body{
	color: #303131;
	padding: 50px 15% 0;
	background: #3d4554;
	min-width: 1187px;
}

/* 头部 */
.header{
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
	background: white;
	transition: .2s;
	font-family: Arial;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}
.header:hover{
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
.header>h1{
	padding: 20px;
	font-size: 50px;
}
.header a{
	float: right;
	color: #f2f2f2;
	text-align: center;
	line-height: 1em;
	padding: 14px 16px;
	text-decoration: none;
}
.header a:first-child{
	float: left;
}

.topnav a:hover{
	color: black;
	transition: .2s;
	background-color: pink;
	border-radius: 8.5px;
}
.topnav{
	width: 100%;
	float: left;
	overflow: hidden;
	border-radius: 2px 0 0 8.5px;
	background-color: #333;
	display: inline-block;
}
.topnav>a:nth-child(6){
	background-color: #13a10e;
	animation: fade_in .2s;
	border-radius: 8.5px;
}
@keyframes fade_in{
	from{opacity: 0;}
	to{opacity: 100;}
}

.all{
	width: 100%;
	float: left;
	padding: 0 5%;
	text-align: center;
	background-color: #e9e9e9;
	margin: 20px auto;
	border-radius: 10px;
}
.all h1{
	text-align: center;
}
.all hr{
	margin: 22.6px 0 22.6px;
	width: 99.8%;
	height: 2px;
	border: 0;
	background: #dcdcdc;
}
.all:hover{
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
#header p{
	color: #939393;
	margin-bottom: 16px;
	float: left;
}
#banner img{
	width: 100%;
}
.article{
	color: #939393;
}
.img1{
	margin: 20px 0 45px;
}
.img2{
	text-align: left;
	padding: 0 12% 0;
	color: #939393;
	text-indent: 2em;
}
.img2 p:last-of-type{
	margin-bottom: 20px;
}
.img2 img{
	width: 100%;
}
.img3{
	padding: 0 12% 0;
	text-align: left;
}
.img3 img{
	padding: 0 30px 0 0;
	float: left;
}