*{margin: 0;padding: 0;}
body{
	font-family: 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial',sans-serif;
}
#table_contents {
	overflow: auto;
	height: 160px;
	width: 260px;
	background: #303030;
	color: white;
}

/* 滚动条背景 */
#table_contents::-webkit-scrollbar{
	width: 10px;
	height: 20px;
	background-color: navajowhite;
}
/* thumb 滚动条 */
#table_contents::-webkit-scrollbar-thumb{
	background: darkcyan;
	/* 花纹系滚动条 */
	background-image: -webkit-linear-gradient(
	45deg,rgba(255, 255, 255, 0.4) 25%,
	transparent 25%,transparent 50%,
	rgba(255, 255, 255, 0.4) 50%,
	rgba(255, 255, 255, 0.4) 75%,
	transparent 75%,transparent);
	border-radius: 100px;
}
/* 滚动条上下部分 */
#table_contents::-webkit-scrollbar-button{
	height: 5px;
	background-color: #303030;
}