*{margin: 0;padding:0;box-sizing: border-box;}
body{
	font-family: 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial',sans-serif;
}

/* 容器 */
.container{
	color: black;
	font-size: 15px;
	position: relative;
	width: 300px;
	height: auto;
	float: left;
	padding: 10px 10px 0 10px;
	display: block;
}
.container_effect{
	color: wheat;
	font-size: 25px;
	position: relative;
}

/* 背景图 */
.image{
	display: block;
	width: 100%;
	height: auto;
}

/* 文字和背景渐入渐出 */
.overlay1{
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	height: 100%;
	width: 100%;
	/* 设置透明度0 */
	opacity: 0;
	transition: .5s ease;
	background: #008CBA;
}
.container_effect.ef1:hover .overlay1{
	opacity: 1;
}
.text1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* 文字和背景切入 bottom */
.overlay2{
	position: absolute;
	/* bottom 控制效果出现的位置*/
	bottom: 100%;/* 从上至下 */
	bottom: 50%;/* 从中间向上下 */
	bottom: 0%;/* 从下至上 */
	left: 0%;
	right: 0%;
	/* 设置高度0 */
	height: 0%;
	width: 100%;
	transition: .5s ease;
	/* 高度为 0 时,用 overfloww 隐藏文本 */
	overflow: hidden;
	background: #008CBA;
}
.container_effect.ef2:hover .overlay2{
	bottom: 0%;
	height: 100%;
}
.text2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* 文字和背景切入 left */
.overlay3{
	position: absolute;
	bottom: 0%;
	left: 100%;/* 从右至左 */
	left: 50%;/* 从中间向左右 */
	left: 0%;/* 从左到右 */
	right: 0%;
	height: 100%;
	width: 0%;
	transition: .5s ease;
	/* 高度为 0 时,用 overfloww 隐藏文本 */
	overflow: hidden;
	background: #008CBA;
}
.container_effect.ef3:hover .overlay3{
	width: 100%;
	left: 0;
}
.text3{
	position: absolute;
	/* white-space 当文字所在容器宽度不足时不换行 */
	white-space: nowrap;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}


