*{padding: 0;margin: 0;}
*::selection{
	color: beige;
    background-color: black;
}

html,body{
	font-family: 'PingFang SC','Microsoft YaHei','Helvetica Neue','Helvetica','Arial',sans-serif;
	background: white;
}

.contents{
	background: #4F4F4F;
	margin: 0 10%;
	border: green;
	/* border:1px solid yellow; */
	position: relative;
	box-shadow: 0px 0px 10px black;
	border-radius: 15px;
}

.table_contents{
	display: inline-block;
	padding: 20px;
}

.table_contents li{color: aliceblue;}
.table_contents li a{
	color: #00BCD5;
	text-decoration: none;
	font-size: 23px;
	transition: .2s;
}
.table_contents li a:hover{color: bisque;font-size: 23.5px;background: rgba(106,106,106, .9);}
.table_contents li a:active{color: azure;transition: .4s}

#top{
	text-align: center;
	text-shadow: 2px 0 4px #a9a9a9;
	color: #252525;
	padding: 10px 0 20px 0;
}

#fixed-btn{
	position: fixed;
	width: 40px;
	height: auto;
	padding: 5px;
	background: seashell;
	right: 2%;
	bottom: 5%;
	box-shadow: 0px 0px 5px black;
}
#fixed-btn a{
	display: block;
}