*{margin: 0;padding: 0;box-sizing: border-box;}
*::selection{color: salmon;background-color: rgba(30, 152, 212, .8);}
body{
	font-family: Arial;
	padding: 50px 15% 0;
	background: #3d4554;
	min-width: 1187px;
}

/* 头部 */
.header{
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
	background: white;
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}
.header:hover{
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
.header>h1{
	padding: 20px;
	font-size: 50px;
}
.header a{
	float: right;
	color: #f2f2f2;
	text-align: center;
	line-height: 1em;
	padding: 14px 16px;
	text-decoration: none;
}
.header a:first-child{
	float: left;
}

.topnav a:hover{
	color: black;
	transition: .2s;
	background-color: pink;
	border-radius: 8.5px;
}
.topnav{
	width: 100%;
	float: left;
	overflow: hidden;
	border-radius: 2px 0 0 8.5px;
	background-color: #333;
	display: inline-block;
}
.topnav>a:nth-child(9){
	background-color: #757575;
	animation: fade_in .2s;
	border-radius: 8.5px;
}
@keyframes fade_in{
	from{opacity: 0;}
	to{opacity: 100;}
}

/* 文章整体 */
#row{
	background: #f2f2f2;
	margin: 20px 0;
	padding: 50px 200px 50px;
	overflow: hidden;
	border-radius: 10px;
}
#row:hover{
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
#row::after{
	content: "";
	display: block;
	clear: both;
}
#row_header{
	margin-bottom: 10px;
}

.profile_content{
	overflow: hidden;
	float: right;
}
.profile_content>img{
	width: 70%;
	float: left;
}.profile_content>div{
	text-align: center;
}

#article{
	text-align: center;
}
#article>h2:first-child{
	font-size: 2em;
}
#article>p:nth-child(2){
	color: #666666;
	font-style: italic;
}
#article div img{
	width: 100%;
	padding: 10px 0 10px;
}

#comment hr{
	border-color: #ccc;
}
#user{
	background: white;
}
#user p:last-of-type{
	margin: 8px 18px 18px 18px;
}
#user>img{
	float: left;
}

#footer{
	margin-top: 20px;
	text-align: center;
}
#footer>p{
	color: #1d5983;
	font-size: .8em;
}