*{margin: 0;padding: 0;box-sizing: border-box;}
*::selection{color: salmon;background-color: rgba(30, 152, 212, .8);}
body{
	font-family: Arial;
	padding: 50px 15% 0;
	background: #3d4554;
	min-width: 1187px;
}

/* 头部 */
.header{
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
	background: white;
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}
.header:hover{
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
.header>h1{
	padding: 20px;
	font-size: 50px;
}
.header a{
	float: right;
	color: #f2f2f2;
	text-align: center;
	line-height: 1em;
	padding: 14px 16px;
	text-decoration: none;
}
.header a:first-child{
	float: left;
}

.topnav a:hover{
	color: black;
	transition: .2s;
	background-color: pink;
	border-radius: 8.5px;
}
.topnav{
	width: 100%;
	float: left;
	overflow: hidden;
	border-radius: 2px 0 0 8.5px;
	background-color: #333;
	display: inline-block;
}
.topnav>a:nth-child(4){
	background-color: #735bc1;
	animation: fade_in .2s;
	border-radius: 8.5px;
}
@keyframes fade_in{
	from{opacity: 0;}
	to{opacity: 100;}
}

.all{
	border-radius: 10px;
	margin: 20px 0;
	padding: 10px;
	text-align: center;
	background: #f2f2f2;
}
.all:hover{
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
#header h2{
	font-size: 18px;
	font-family: '微软雅黑';
	height: 40px;
	line-height: 40px;
	/* 下边框 */
	border-bottom: 1px dashed #e1e1e1;
}
#header p{
	font-size: 14px;
	color: #d2d2d2;
	height: 24px;
	line-height: 24px;
}