*{margin: 0;padding: 0;box-sizing: border-box;}
*::selection{color: salmon;background-color: rgba(30, 152, 212, .8);}
body{
	font-family: Arial;
	padding: 50px 15% 0;
	background: #3d4554;
	min-width: 1187px;
}

/* 头部 */
.header{
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
	background: white;
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}
.header:hover{
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
.header>h1{
	padding: 20px;
	font-size: 50px;
}
.header a{
	float: right;
	color: #f2f2f2;
	text-align: center;
	line-height: 1em;
	padding: 14px 16px;
	text-decoration: none;
}
.header a:first-child{
	float: left;
}

.topnav a:hover{
	color: black;
	transition: .2s;
	background-color: pink;
	border-radius: 8.5px;
}
.topnav{
	width: 100%;
	float: left;
	overflow: hidden;
	border-radius: 2px 0 0 8.5px;
	background-color: #333;
	display: inline-block;
}
.topnav>a:nth-child(3){
	background-color: #666052;
	animation: fade_in .2s;
	border-radius: 8.5px;
}
@keyframes fade_in{
	from{opacity: 0;}
	to{opacity: 100;}
}

#row{
	width: 100%;
	padding: 20px;
	margin: 20px 0 20px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background: white;
}
#row:hover{
	transition: .2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

#top{
	width: 980px;
	height:40px;
	background: url(../img/top.jpg);
}

#nav{
	width: 980px;
	height: 60px;
	background: url(../img/nav.jpg) no-repeat;
}

#banner{
	width: 980px;
	height: 200px;
	background: url(../img/banner.jpg);
}

#content{
	width: 980px;
	height: 300px;
}
.content_left{
	width: 208px;
	height: 300px;
	float: left;
	background: url(../img/content_left.jpg);
}
.content_middle{
	width: 570px;
	height: 300px;
	float: left;
	background: url(../img/content_middle.jpg);
}
.content_right{
	width: 200px;
	height: 300px;
	float: right;
	background: url(../img/content_right.jpg);
}

#footer{
	width: 980px;
	float: left;
	height: 90px;
	background: url(../img/footer.jpg);
}