* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 10px;
	height: 20px;
	background: #ff5500;
	border-radius: 10px;
	background: rgba(61, 145, 255, 0.3);
}

::-webkit-scrollbar-thumb {
	background: darkcyan;
	border-radius: 10px;
}

body {
	font-size: 20px;
	font-weight: 250;
	letter-spacing: 2px;
	background: #a18e7c;
	overflow: hidden;
	font-family: Arial, Microsoft YaHei, sans-serif !important;
}

code {
	color: #179cde;
}

ul {
	margin: 0;
	padding: 0;
}

h3 {
	text-align: center;
	color: #da4b3a;
}

li {
	list-style-type: disclosure-closed;
	list-style-position: inside;
	display: inline-block;
	list-style: none;
}

.title {
	color: #da4b3a;
}

button {
	width: 70;
	height: 30;
	background: rgba(67, 140, 191, .40);
	text-decoration: none;
	transition: .3s;
	border: none;
	color: #000;
	border-radius: 8px;
	outline: none;
	padding: 0;
	font-size: 17px;
	font-weight: bolder;
	font-family: Arial, Microsoft YaHei, sans-serif !important;
}

button.active {
	background: rgba(43, 80, 230, .66);
	pointer-events: none;
}

button:hover {
	background: rgba(43, 80, 230, .66);
	cursor: hand;
}

a {
	color: #009daf;
}

#cmds {
	margin-top: 10px;
}

#maindiv {
	position: relative;
	margin: 5;
	padding: 10 10 0 10;
	border-radius: 20px;
	background: rgba(255, 255, 255, .70);
	width: 600px;
	height: 400px;
	box-shadow: rgba(14, 14, 14, .15) 0px 6px 15px 15px;
	overflow: auto;
}
#bgimg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url("http://pic.imgdb.cn/item/65d7b0e39f345e8d0389dbd8.webp");
	/* background-image: url("http://pic.imgdb.cn/item/65d97e699f345e8d03feac0c.webp"); */
}

#setudiv {
	position: absolute;
	top: 10;
	right: 103;
}

#setudiv #btn4 {
	width: 80;
	margin: -5;
	border-radius: 8px 0 0 8px;
}

#RS {
	width: 80;
	border-radius: 0 8px 8px 0;
}

#RS code {
	color: #ff1c10;
}

/*** Table Styles Start **/

/* .table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
} */
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  padding:7px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:7px;
  vertical-align:middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/*** Table Styles End **/