.JS-base-big-num{width:35px; height:63px; display:inline-block; background-image:url("../i/big-num.png"); background-repeat:no-repeat;}
.JS-big-num-0{background-position:-9px 0;}
.JS-big-num-1{background-position:-59px 0;}
.JS-big-num-2{background-position:-109px 0;}
.JS-big-num-3{background-position:-159px 0;}
.JS-big-num-4{background-position:-209px 0;}
.JS-big-num-5{background-position:-259px 0;}
.JS-big-num-6{background-position:-309px 0;}
.JS-big-num-7{background-position:-359px 0;}
.JS-big-num-8{background-position:-409px 0;}
.JS-big-num-9{background-position:-459px 0;}