.JS-base-num{width:22px; height:32px; display:inline-block; background-image:url("../i/small-num.png"); background-repeat:no-repeat;}
.JS-num-0{background-position:-5px 0;}
.JS-num-1{background-position:-39px 0;}
.JS-num-2{background-position:-70px 0;}
.JS-num-3{background-position:-103px 0;}
.JS-num-4{background-position:-134px 0;}
.JS-num-5{background-position:-166px 0;}
.JS-num-6{background-position:-197px 0;}
.JS-num-7{background-position:-230px 0;}
.JS-num-8{background-position:-263px 0;}
.JS-num-9{background-position:-294px 0;}